Lista_funcionarios.html

<!DOCTYPE html>
{% load django_bootstrap5 %}
<html lang="pt-br">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Listagem de Funcionários</title>
 <style type="text/css">
    html {
    margin: 2%;
    }
    </style> 
 {% bootstrap_css %}
 {% bootstrap_javascript %}
</head>
<body>
    <h1> Listagem de Funcionários</h1>
    <table class="table table-striped">
     <thead>
     <tr>
        <th><h3>Nome do funcionário</h3></th>
        <th><h3>Ações</h3></th>
     </tr>
     </thead>
     <tbody>
     <tr>
     {% for funcionario in object_list %}
     <td>
     {{ funcionario.nome }}
     </td>
     <td>
     <a href="{% url 'lista_funcionario' pk=funcionario.id %}" class="btn btn-primary">Exibir dados</a>
     <a href="{% url 'editar_funcionario' pk=funcionario.id %}" class="btn btn-success"> Editar</a>
     <a href="{% url 'remover_funcionario' pk=funcionario.id %}" class="btn btn-danger">Remover</a>
     </td>
     </tr>
     {% endfor %}
     </tbody>
     </table>
     <a href="{% url 'form_funcionario' %}" class="btn btn-primary">Cadastrar um novo funcionário</a> 
    </body>
    
</html>
