Remover_funcionario.html

<!DOCTYPE html>
{% load django_bootstrap5 %}
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Remover Funcionário</title>
 <style type="text/css">
    html {
    margin: 2%;
    }
    </style> 
 {% bootstrap_css %}
 {% bootstrap_javascript %}
</head>

<body>
    
 <h2> Funcionário: {{ fun.nome }}</h2>
 <li>data nascimento: {{ fun.data_nascimento }}</li>
 <li>E-mail: {{ fun.email }}</li>
 <li>Remuneração: {{ fun.remuneracao }}</li>

 <form method="post">
 {% csrf_token %}
 <button type="button" class="btn btn-success" onClick="history.go(-1)"> Voltar </button>
 </form>
</body>
</html>
